Source: vpn
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6

Package: vpn
Architecture: any
Depends: ${shlibs:Depends}, openvpn, swagger-ui
Description: VPN App Service
